<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ac9a89">  <td>20/11/23 13:09:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleSearchTests.driverSetup()[pri:0, instance:Tests.GoogleSearchTests@71bbf57e]">&gt;&gt;driverSetup</td> 
<td>&nbsp;</td>  <td>main@1728790703</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>20/11/23 13:10:05</td>   <td>7289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleSearchTests.performGoogleSearch()[pri:0, instance:Tests.GoogleSearchTests@71bbf57e]">performGoogleSearch</td> 
  <td>main@1728790703</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>20/11/23 13:10:30</td>   <td>32396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleSearchTests.quitDriver()[pri:0, instance:Tests.GoogleSearchTests@71bbf57e]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td>  <td>main@1728790703</td>   <td></td> </tr>
</table>
